<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MaerkRegisterMapper">

<select  id="selectAll" resultType="MaerkRegister">
	SELECT * FROM snsdata

</select>

<select id="selectById" resultType="MaerkRegister">
	SELECT * FROM snsdata
	WHERE id = #{id}
</select>

<select id="selectByName"></select>

<select id="selectByUserName" resultType="Member"
		parameterType="string">
		SELECT * FROM snsdata
		WHERE name LIKE CONCAT('%', #{keyword}, '%')
</select>

<insert id="add" parameterType="MaerkRegister">

 INSERT INTO snsdata VALUES
      (NULL, #{name}, #{UserName}, #{SNSname}, #{URL})
</insert>

</mapper>