<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.SnsdataMapper">

	<insert id="register" parameterType="snsdata">
		INSERT INTO snsdata VALUES
		(#{id}, #{name}, #{userName}, #{snsName}, #{url})
	</insert>

	<update id="add" parameterType="snsdata">
		UPDATE snsdata 
		SET userName = #{userName}, snsName = #{snsName}, url = #{url}
		WHERE id = #{id}
	</update>
</mapper>