<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U&Lリンク集</title>
</head>

<body>
    <header>
        <h1>追加</h1>
    </header>
    <form action="">
        <p>
            <select name="SNSname">
                <option value="YouTube">YouTube</option>
                <option value="X">X(旧Twitter)</option>
                <option value="FaceBook">FaceBook</option>
                <option value="Instagram">Instagram</option>
            </select>
        </p>
        <p>
            <input type="url">
        </p>
        <input type="submit">
    </form>
</body>

</html>