<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U&Lリンク集</title>
</head>

<body>
    <header>
        <h1>追加</h1>
    </header>
    <form action="" method="post">
        <p>アカウント名
        	<input type="text" name=UserName />
        </p>
        <p>SNS
            <select name="SNSname">
                <option value="YouTube">YouTube</option>
                <option value="X">X(旧Twitter)</option>
                <option value="FaceBook">FaceBook</option>
                <option value="Instagram">Instagram</option>
            </select>
        </p>
        <p>URL
            <input type="url" name="URL">
        </p>
        <input type="submit" value="登録">
    </form>
</body>

</html>