<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www/thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U&Lリンク集</title>
</head>

<body>
    <header>
        <h1>追加</h1>
    </header>
    <form action="" method="post" th:object="${snsdata}">
        <p>アカウント名
        	<input type="text" th:field="*{userName}" />
        </p>
        <p>SNS
            <select th:field="*{snsName}">
                <option value="YouTube">YouTube</option>
                <option value="X">X(旧Twitter)</option>
                <option value="FaceBook">FaceBook</option>
                <option value="Instagram">Instagram</option>
            </select>
        </p>
        <p>URL
            <input type="url" th:field="*{url}">
        </p>
        <input type="submit" value="登録">        
    </form>
    <p><a href="/home">ホームに戻る</a></p>
</body>

</html>