<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U&Lリンク</title>
</head>

<body>
    <header>
        <h1>配信者アカウント登録</h1>
    </header>
    <form action="">
        <p>配信者名
            <input type="text">
        </p>
        <p>アカウント名
            <input type="text" name="name">
        </p>
        <p>SNS名
            <select name="SNSname">
                <option value="YouTube">YouTube</option>
                <option value="X">X(旧Twitter)</option>
                <option value="FaceBook">FaceBook</option>
                <option value="Instagram">Instagram</option>
            </select>
        </p>
        <p>URL
            <input type="url">
        </p>
    </form>
    <input type="submit">
    <p><a href="home.html">ホームに戻る</a></p>
</body>

</html>